<div class="container mx-auto">
  <h3 class="mt-12 text-lg font-bold">
    填寫名冊前請先閱讀以下說明，謝謝您
  </h3>

  <div class="py-8 border-b-2 border-gray-300">
    <h4 class="font-bold">
      學界人士提名優先順序建議 :
    </h4>
    <ul class="list-decimal list-inside leading-7">
      <li>友好、有互動、且對本校有正面評價者。</li>
      <li>屬外國學術單位。</li>
      <li>學術發表活躍，或有與本校合作者優先。</li>
      <li>其他人員亦可列上，但建議以以上3項資格者為優先。</li>
    </ul>
  </div>

  <div class="py-8 border-b-2 border-gray-300">
    <h4 class="font-bold">
      業界人士提名優先順序建議 :
    </h4>
    <ul class="list-decimal list-inside">
      <li>友好、有互動、且對本校有正面評價者。</li>
      <li>跨國或知名企業。</li>
      <li>本國或外國企業從業人士皆可。</li>
      <li>其他人員亦可列上，但建議以以上三項資格者為優先。</li>
    </ul>
  </div>

  <div class="pt-8 pb-16">
    <h4 class="font-bold">
      名冊填寫說明
    </h4>
    <ul class="list-decimal list-inside">
      <li>各欄位皆為<span class="text-red-500">必填</span>，限以<span class="text-red-500">英文 (半形) </span>填入，並勿填寫如É、Ÿ等特殊字元。</li>
      <li>各欄位皆須提供資訊。</li>
      <li>務請確認填入資訊之正確性。</li>
      <li>較易混淆之欄位說明及填寫範例如下:<br>
        Title / 稱謂: Mr., Ms., Mrs., M., Dr., Prof.<br>
        Position / 職稱: 其現職職稱, 如 Dean, Dept. Head, Director, Chair,Prof., Researcher 等。
      </li>
      <li>填寫完畢後，點選【<span class="text-red-500">名單提交</span>】完成填報。</li>
    </ul>
    <p class="mt-8 font-bold"> ※如填寫表單有任何疑問，可連繫 </p>
    <p> 研發處校務研究與發展中心 </p>
    <p> 梁啓暉先生，Tel：2733-3141 分機 3675 </p>
  </div>
</div>
<hr class="border-2">
