<div class="relative">
  <div class="bg-qs-survey">
    <h2 class="container py-16 mx-auto text-2xl text-white">
      QS 聲譽問卷 受訪者推薦表單
    </h2>
  </div>
  <div class="container mx-auto">
    <h3 class="mt-12 text-lg font-bold">
      填寫名冊前請先閱讀以下說明，謝謝您
    </h3>

    <div class="py-8 border-b-2 border-gray-300">
      <h4 class="font-bold">
        學界人士提名優先順序建議 :
      </h4>
      <ul class="list-decimal list-inside leading-7">
        <li>友好、有互動、且對本校有正面評價者。</li>
        <li>屬外國學術單位。</li>
        <li>學術發表活躍，或有與本校合作者優先。</li>
        <li>其他人員亦可列上，但建議以以上3項資格者為優先。</li>
      </ul>
    </div>

    <div class="py-8 border-b-2 border-gray-300">
      <h4 class="font-bold">
        業界人士提名優先順序建議 :
      </h4>
      <ul class="list-decimal list-inside">
        <li>友好、有互動、且對本校有正面評價者。</li>
        <li>跨國或知名企業。</li>
        <li>本國或外國企業從業人士皆可。</li>
        <li>其他人員亦可列上，但建議以以上三項資格者為優先。</li>
      </ul>
    </div>

    <div class="pt-8 pb-16">
      <h4 class="font-bold">
        名冊填寫說明
      </h4>
      <ul class="list-decimal list-inside">
        <li>各欄位皆為<span class="text-red-500">必填</span>，限以<span class="text-red-500">英文 (半形) </span>填入，並勿填寫如É、Ÿ等特殊字元。</li>
        <li>各欄位皆須提供資訊。</li>
        <li>務請確認填入資訊之正確性。</li>
        <li>較易混淆之欄位說明及填寫範例如下:<br>
          Title / 稱謂: Mr., Ms., Mrs., M., Dr., Prof.<br>
          Position / 職稱: 其現職職稱, 如 Dean, Dept. Head, Director, Chair,Prof., Researcher 等。
        </li>
        <li>填寫完畢後，點選【<span class="text-red-500">名單提交</span>】完成填報。</li>
      </ul>
      <p class="mt-8 font-bold"> ※如填寫表單有任何疑問，可連繫 </p>
      <p> 研發處校務研究與發展中心 </p>
      <p> 梁啓暉先生，Tel：2733-3141 分機 3675 </p>
    </div>
  </div>
  <hr class="border-2">
  <div class="container mx-auto">
    <%= render 'form', recommender: @recommender %>
  </div>
  <svg width="660" height="487" viewBox="0 0 660 487" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute bottom-0 right-0 -z-10">
    <g clip-path="url(#clip0_33_304)">
    <path d="M503.741 11.2551L551.87 39.1765L600.216 11.2551M599.784 11.0387L552.086 38.7436L504.173 11.0387" fill="url(#paint0_linear_33_304)"/>
    <path d="M503.957 289.17L552.086 261.248V205.406L503.957 177.484L455.827 205.406V261.248L503.957 289.17ZM551.655 261.032L503.957 288.737L456.259 261.032V205.622L503.957 178.134L551.655 205.622V261.032Z" fill="url(#paint1_linear_33_304)"/>
    <path d="M551.871 372.501L600 344.58V288.737L551.871 260.816L503.741 288.737V344.58L551.871 372.501ZM599.784 344.363L552.086 372.068L504.388 344.363V288.953L552.086 261.248L599.784 288.953V344.363Z" fill="url(#paint2_linear_33_304)"/>
    <path d="M456.043 372.501L504.173 344.58V288.737L456.043 260.816L407.914 288.737V344.58L456.043 372.501ZM503.741 344.363L456.043 372.068L408.345 344.363V288.953L456.043 261.248L503.741 288.953V344.363Z" fill="url(#paint3_linear_33_304)"/>
    <path d="M360 372.501L408.129 344.58V288.737L360 260.816L311.87 288.737V344.58L360 372.501ZM407.914 344.363L360.216 372.068L312.518 344.363V288.953L360 261.465L407.698 289.17V344.363H407.914Z" fill="url(#paint4_linear_33_304)"/>
    <path d="M264.173 372.501L312.302 344.58V288.737L264.173 260.816L216.043 288.737V344.58L264.173 372.501ZM311.871 344.363L264.173 372.068L216.475 344.363V288.953L264.173 261.248L311.871 288.953V344.363Z" fill="url(#paint5_linear_33_304)"/>
    <path d="M503.957 455.832L552.086 427.911V372.068L503.957 344.147L455.827 372.068V427.911L503.957 455.832ZM551.655 427.694L503.957 455.399L456.259 427.694V372.285L503.957 344.58L551.655 372.285V427.694Z" fill="url(#paint6_linear_33_304)"/>
    <path d="M408.13 455.832L456.259 427.911V372.068L408.13 344.147L360 372.068V427.911L408.13 455.832ZM455.827 427.694L408.13 455.399L360.432 427.694V372.285L408.13 344.58L455.827 372.285V427.694Z" fill="url(#paint7_linear_33_304)"/>
    <path d="M312.086 455.832L360.216 427.911V372.068L312.086 344.147L263.957 372.068V427.911L312.086 455.832ZM359.784 427.694L312.086 455.399L264.388 427.694V372.285L312.086 344.58L359.784 372.285V427.694Z" fill="url(#paint8_linear_33_304)"/>
    <path d="M599.784 487V455.832L551.87 428.127L504.173 455.832V487H503.741V455.616L551.87 427.694L600 455.399L600.216 455.616V487H599.784Z" fill="url(#paint9_linear_33_304)"/>
    <path d="M503.741 487V455.832L456.043 428.127L408.129 455.832V487H407.914V455.616L455.827 427.694H456.043L504.173 455.399V455.616V487H503.741Z" fill="url(#paint10_linear_33_304)"/>
    <path d="M407.914 487V455.832L360 428.127L312.302 455.832V487H311.87V455.616L360 427.694L408.129 455.399V455.616V487H407.914Z" fill="url(#paint11_linear_33_304)"/>
    <path d="M311.871 487V455.832L264.173 428.127L216.259 455.832V487H215.827V455.616L263.957 427.694H264.173L312.086 455.399L312.302 455.616V487H311.871Z" fill="url(#paint12_linear_33_304)"/>
    <path d="M660 37.4449V40.0423L630.863 56.9249V128.135L660 145.018V147.615L628.489 129.434V55.6263L660 37.4449Z" fill="url(#paint13_linear_33_304)"/>
    <path d="M567.194 166.229L630.863 129.434V55.8427L567.194 18.8307L503.525 55.6262V129.217L567.194 166.229ZM628.489 128.135L567.194 163.632L505.683 128.135V56.9249L567.194 21.428L628.489 56.9249V128.135Z" fill="url(#paint14_linear_33_304)"/>
    <path d="M442.014 166.229L505.683 129.434V55.8427L442.014 19.0471L378.345 55.8427V129.434L442.014 166.229ZM503.525 128.135L442.014 163.632L380.503 128.135V56.9249L442.014 21.428L503.525 56.9249V128.135Z" fill="url(#paint15_linear_33_304)"/>
    <path d="M629.784 127.486L660 145.018V147.615L629.784 129.867L568.273 165.58V236.79L629.784 272.287L660 254.755V257.136L629.784 274.885L566.115 237.873V164.281L629.784 127.486Z" fill="url(#paint16_linear_33_304)"/>
    <path d="M504.604 274.884L568.273 238.089V164.498L504.604 127.702L440.935 164.498V238.089L504.604 274.884ZM566.115 236.79L504.604 272.287L443.094 236.79V165.58L504.604 129.867L566.115 165.58V236.79Z" fill="url(#paint17_linear_33_304)"/>
    <path d="M379.64 274.884L443.309 238.089V164.498L379.64 127.702L315.971 164.498V238.089L379.64 274.884ZM440.935 236.79L379.424 272.287L317.914 236.79V165.58L379.64 129.867L441.151 165.364V236.79H440.935Z" fill="url(#paint18_linear_33_304)"/>
    <path d="M660 254.755V257.136L630.863 274.235V345.229L660 362.328V364.709L628.489 346.528V272.936L660 254.755Z" fill="url(#paint19_linear_33_304)"/>
    <path d="M567.194 383.323L630.863 346.528V272.936L567.194 236.141L503.525 272.936V346.528L567.194 383.323ZM628.489 345.229L567.194 380.942L505.683 345.445V274.235L567.194 238.522L628.705 274.019V345.229H628.489Z" fill="url(#paint20_linear_33_304)"/>
    <path d="M442.014 383.323L505.683 346.528V272.936L442.014 236.141L378.345 272.936V346.528L442.014 383.323ZM503.525 345.229L442.014 380.942L380.503 345.445V274.235L442.014 238.522L503.525 274.019V345.229Z" fill="url(#paint21_linear_33_304)"/>
    <path d="M660 474.446L638.417 487H634.101L660 472.065V474.446Z" fill="url(#paint22_linear_33_304)"/>
    <path d="M629.784 344.796L660 362.328V364.709L629.784 347.177L568.273 382.89V453.884L625.252 487H620.935L566.115 455.183V381.592L629.784 344.796Z" fill="url(#paint23_linear_33_304)"/>
    <path d="M508.921 487L566.115 453.884V382.89L504.604 347.177L443.094 382.89V453.884L500.288 487H495.971L440.935 455.183V381.592L504.604 344.796L568.273 381.592V455.183L513.237 487H508.921Z" fill="url(#paint24_linear_33_304)"/>
    <path d="M383.957 487L440.935 453.884V382.89L379.64 347.177L318.129 382.89V453.884L375.108 487H370.791L315.971 455.183V381.592L379.64 344.796L443.094 381.592V455.183L388.273 487H383.957Z" fill="url(#paint25_linear_33_304)"/>
    <path d="M660 472.065V474.446L638.417 487H634.101L660 472.065Z" fill="url(#paint26_linear_33_304)"/>
    <path d="M620.935 487L567.194 455.832L513.237 487H508.921L567.194 453.235L625.252 487H620.935Z" fill="url(#paint27_linear_33_304)"/>
    <path d="M495.971 487L442.014 455.832L388.273 487H383.957L442.014 453.235L500.288 487H495.971Z" fill="url(#paint28_linear_33_304)"/>
    <path d="M370.791 487L317.05 455.832L263.094 487H258.777L317.05 453.235L375.108 487H370.791Z" fill="url(#paint29_linear_33_304)"/>
    <path d="M245.827 487L191.871 455.832L138.13 487H133.813L191.871 453.235L250.144 487H245.827Z" fill="url(#paint30_linear_33_304)"/>
    <path d="M120.647 487L66.9064 455.832L12.9496 487H8.63306L66.9064 453.235L124.964 487H120.647Z" fill="url(#paint31_linear_33_304)"/>
    <path d="M551.871 34.4147C554.245 34.4147 556.187 36.3627 556.187 38.7436C556.187 41.1245 554.245 43.0725 551.871 43.0725C549.497 43.0725 547.554 41.1245 547.554 38.7436C547.554 36.3627 549.497 34.4147 551.871 34.4147Z" fill="url(#paint32_linear_33_304)"/>
    <path d="M600 13.8524C598.451 13.8524 597.194 12.5926 597.194 11.0386C597.194 9.48462 598.451 8.22485 600 8.22485C601.55 8.22485 602.806 9.48462 602.806 11.0386C602.806 12.5926 601.55 13.8524 600 13.8524Z" fill="url(#paint33_linear_33_304)"/>
    <path d="M503.957 16.6662C500.935 16.6662 498.561 14.2853 498.561 11.2551C498.561 8.22488 500.935 5.84399 503.957 5.84399C506.978 5.84399 509.353 8.22488 509.353 11.2551C509.353 14.2853 506.978 16.6662 503.957 16.6662Z" fill="url(#paint34_linear_33_304)"/>
    <path d="M551.871 200.427C554.676 200.427 556.835 202.592 556.835 205.406C556.835 208.219 554.676 210.384 551.871 210.384C549.065 210.384 546.907 208.219 546.907 205.406C546.907 202.808 549.281 200.427 551.871 200.427Z" fill="url(#paint35_linear_33_304)"/>
    <path d="M600 178.35C599.762 178.35 599.569 178.156 599.569 177.917C599.569 177.678 599.762 177.484 600 177.484C600.239 177.484 600.432 177.678 600.432 177.917C600.432 178.156 600.239 178.35 600 178.35Z" fill="url(#paint36_linear_33_304)"/>
    <path d="M600 126.404C597.735 126.404 595.899 124.562 595.899 122.291C595.899 120.02 597.735 118.179 600 118.179C602.265 118.179 604.101 120.02 604.101 122.291C604.101 124.562 602.265 126.404 600 126.404Z" fill="url(#paint37_linear_33_304)"/>
    <path d="M551.87 90.9066C553.813 90.9066 555.324 92.4217 555.324 94.3697C555.324 96.3177 553.813 97.8328 551.87 97.8328C549.928 97.8328 548.417 96.3177 548.417 94.3697C548.417 92.6382 550.144 90.9066 551.87 90.9066Z" fill="url(#paint38_linear_33_304)"/>
    <path d="M459.065 205.622C459.065 207.354 457.554 208.869 455.828 208.869C454.101 208.869 452.59 207.354 452.59 205.622C452.59 203.891 454.101 202.375 455.828 202.375C457.77 202.375 459.065 203.891 459.065 205.622Z" fill="url(#paint39_linear_33_304)"/>
    <path d="M503.957 183.978C500.504 183.978 497.914 181.164 497.914 177.917C497.914 174.671 500.719 171.857 503.957 171.857C507.41 171.857 510 174.671 510 177.917C510 181.164 507.41 183.978 503.957 183.978Z" fill="url(#paint40_linear_33_304)"/>
    <path d="M456.043 266.443C453.238 266.443 450.863 264.062 450.863 261.248C450.863 258.435 453.238 256.054 456.043 256.054C458.849 256.054 461.223 258.435 461.223 261.248C461.223 264.062 458.849 266.443 456.043 266.443Z" fill="url(#paint41_linear_33_304)"/>
    <path d="M357.626 261.248C357.626 259.95 358.705 258.868 360 258.868C361.295 258.868 362.374 259.95 362.374 261.248C362.374 262.547 361.295 263.629 360 263.629C358.705 263.629 357.626 262.547 357.626 261.248Z" fill="url(#paint42_linear_33_304)"/>
    <path d="M312.087 293.715C309.497 293.715 307.338 291.551 307.338 288.953C307.338 286.356 309.497 284.192 312.087 284.192C314.676 284.192 316.835 286.356 316.835 288.953C316.835 291.551 314.676 293.715 312.087 293.715Z" fill="url(#paint43_linear_33_304)"/>
    <path d="M259.424 261.248C259.424 258.651 261.583 256.703 263.957 256.703C266.331 256.703 268.489 258.868 268.489 261.248C268.489 263.846 266.331 265.794 263.957 265.794C261.583 265.794 259.424 263.629 259.424 261.248Z" fill="url(#paint44_linear_33_304)"/>
    <path d="M216.043 294.364C213.022 294.364 210.648 291.984 210.648 288.953C210.648 285.923 213.022 283.542 216.043 283.542C219.065 283.542 221.439 285.923 221.439 288.953C221.439 291.984 219.065 294.364 216.043 294.364Z" fill="url(#paint45_linear_33_304)"/>
    <path d="M551.871 375.315C550.202 375.315 548.849 373.958 548.849 372.284C548.849 370.611 550.202 369.254 551.871 369.254C553.539 369.254 554.892 370.611 554.892 372.284C554.892 373.958 553.539 375.315 551.871 375.315Z" fill="url(#paint46_linear_33_304)"/>
    <path d="M600 347.177C598.57 347.177 597.41 346.014 597.41 344.58C597.41 343.145 598.57 341.982 600 341.982C601.431 341.982 602.59 343.145 602.59 344.58C602.59 346.014 601.431 347.177 600 347.177Z" fill="url(#paint47_linear_33_304)"/>
    <path d="M601.079 288.953C601.079 289.603 600.648 290.036 600 290.036C599.353 290.036 598.921 289.603 598.921 288.953C598.921 288.304 599.353 287.871 600 287.871C600.648 287.655 601.079 288.304 601.079 288.953Z" fill="url(#paint48_linear_33_304)"/>
    <path d="M551.871 266.227C549.129 266.227 546.907 263.998 546.907 261.248C546.907 258.499 549.129 256.27 551.871 256.27C554.612 256.27 556.835 258.499 556.835 261.248C556.835 263.998 554.612 266.227 551.871 266.227Z" fill="url(#paint49_linear_33_304)"/>
    <path d="M508.058 344.579C508.058 346.744 506.331 348.692 503.957 348.692C501.799 348.692 499.856 346.96 499.856 344.579C499.856 342.199 501.583 340.467 503.957 340.467C506.115 340.467 508.058 342.199 508.058 344.579Z" fill="url(#paint50_linear_33_304)"/>
    <path d="M501.151 288.953C501.151 287.438 502.446 286.14 503.957 286.14C505.468 286.14 506.763 287.438 506.763 288.953C506.763 290.468 505.468 291.767 503.957 291.767C502.446 291.767 501.151 290.468 501.151 288.953Z" fill="url(#paint51_linear_33_304)"/>
    <path d="M408.13 286.573C409.425 286.573 410.288 287.655 410.288 288.737C410.288 290.036 409.209 290.901 408.13 290.901C406.835 290.901 405.971 289.819 405.971 288.737C405.755 287.655 406.835 286.573 408.13 286.573Z" fill="url(#paint52_linear_33_304)"/>
    <path d="M363.885 372.284C363.885 374.449 362.158 376.18 360 376.18C357.842 376.18 356.115 374.449 356.115 372.284C356.115 370.12 357.842 368.388 360 368.388C362.158 368.388 363.885 370.12 363.885 372.284Z" fill="url(#paint53_linear_33_304)"/>
    <path d="M408.13 338.952C411.151 338.952 413.525 341.333 413.525 344.363C413.525 347.393 411.151 349.774 408.13 349.774C405.108 349.774 402.734 347.393 402.734 344.363C402.734 341.333 405.108 338.952 408.13 338.952Z" fill="url(#paint54_linear_33_304)"/>
    <path d="M216.043 350.424C212.806 350.424 210.216 347.826 210.216 344.58C210.216 341.333 212.806 338.736 216.043 338.736C219.281 338.736 221.871 341.333 221.871 344.58C222.086 347.826 219.281 350.424 216.043 350.424Z" fill="url(#paint55_linear_33_304)"/>
    <path d="M459.712 372.285C459.712 374.233 457.986 375.964 456.043 375.964C454.101 375.964 452.374 374.233 452.374 372.285C452.374 370.337 454.101 368.605 456.043 368.605C457.986 368.605 459.712 370.337 459.712 372.285Z" fill="url(#paint56_linear_33_304)"/>
    <path d="M456.043 433.755C452.806 433.755 450 431.157 450 427.694C450 424.448 452.59 421.634 456.043 421.634C459.281 421.634 462.086 424.231 462.086 427.694C461.871 431.157 459.281 433.755 456.043 433.755Z" fill="url(#paint57_linear_33_304)"/>
    <path d="M312.086 350.857C308.63 350.857 305.827 348.046 305.827 344.58C305.827 341.113 308.63 338.303 312.086 338.303C315.543 338.303 318.345 341.113 318.345 344.58C318.345 348.046 315.543 350.857 312.086 350.857Z" fill="url(#paint58_linear_33_304)"/>
    <path d="M264.173 374.665C262.862 374.665 261.799 373.599 261.799 372.284C261.799 370.97 262.862 369.904 264.173 369.904C265.484 369.904 266.547 370.97 266.547 372.284C266.547 373.599 265.484 374.665 264.173 374.665Z" fill="url(#paint59_linear_33_304)"/>
    <path d="M216.043 460.161C213.453 460.161 211.511 457.997 211.511 455.616C211.511 453.018 213.669 451.07 216.043 451.07C218.633 451.07 220.576 453.235 220.576 455.616C220.792 458.213 218.633 460.161 216.043 460.161Z" fill="url(#paint60_linear_33_304)"/>
    <path d="M264.173 434.837C260.358 434.837 257.266 431.736 257.266 427.911C257.266 424.085 260.358 420.984 264.173 420.984C267.987 420.984 271.079 424.085 271.079 427.911C271.079 431.736 267.987 434.837 264.173 434.837Z" fill="url(#paint61_linear_33_304)"/>
    <path d="M599.137 455.616C599.137 455.183 599.569 454.75 600 454.75C600.432 454.75 600.864 455.183 600.864 455.616C600.864 456.048 600.432 456.481 600 456.481C599.569 456.481 599.137 456.048 599.137 455.616Z" fill="url(#paint62_linear_33_304)"/>
    <path d="M551.871 424.88C553.597 424.88 554.892 426.179 554.892 427.911C554.892 429.642 553.597 430.941 551.871 430.941C550.144 430.941 548.849 429.642 548.849 427.911C549.065 426.179 550.36 424.88 551.871 424.88Z" fill="url(#paint63_linear_33_304)"/>
    <path d="M503.957 448.04C508.274 448.04 511.511 451.503 511.511 455.616C511.511 459.944 508.058 463.191 503.957 463.191C499.64 463.191 496.403 459.728 496.403 455.616C496.403 451.503 499.856 448.04 503.957 448.04Z" fill="url(#paint64_linear_33_304)"/>
    <path d="M408.13 451.07C410.72 451.07 412.662 453.235 412.662 455.616C412.662 458.213 410.504 460.161 408.13 460.161C405.54 460.161 403.597 457.997 403.597 455.616C403.382 453.018 405.54 451.07 408.13 451.07Z" fill="url(#paint65_linear_33_304)"/>
    <path d="M360 433.105C357.194 433.105 354.82 430.724 354.82 427.911C354.82 425.097 357.194 422.716 360 422.716C362.806 422.716 365.18 425.097 365.18 427.911C365.396 430.724 363.022 433.105 360 433.105Z" fill="url(#paint66_linear_33_304)"/>
    <path d="M306.043 455.616C306.043 452.369 308.633 449.555 312.086 449.555C315.54 449.555 318.13 452.153 318.13 455.616C318.13 458.862 315.54 461.676 312.086 461.676C308.633 461.676 306.043 458.862 306.043 455.616Z" fill="url(#paint67_linear_33_304)"/>
    <g opacity="0.2">
    <path d="M651.583 17.099L651.799 16.8826L660 21.6443V22.2937L651.799 17.5319L593.525 51.2972V118.828L651.799 152.593L660 147.831V148.481L652.014 153.026L651.799 153.243L593.094 119.261L592.878 119.044V51.0808L651.583 17.099Z" fill="url(#paint68_linear_33_304)"/>
    <path d="M660 147.831V148.481L652.014 153.026V220.557L660 225.102V225.751L651.583 220.99V220.773V152.81L660 147.831Z" fill="url(#paint69_linear_33_304)"/>
    <path d="M593.309 254.971L652.014 220.773V152.81H651.799L593.094 118.828H592.878L534.173 152.81V220.773H534.389L593.309 254.971ZM651.583 220.557L593.309 254.322L535.036 220.557V153.026L593.309 119.261L651.583 153.026V220.557Z" fill="url(#paint70_linear_33_304)"/>
    <path d="M476.115 254.971L534.82 220.773V152.81H534.604L475.899 118.828H475.683L416.978 152.81V220.773H417.194L476.115 254.971ZM534.388 220.557L476.115 254.322L417.842 220.557V153.026L476.115 119.261L534.388 153.026V220.557Z" fill="url(#paint71_linear_33_304)"/>
    <path d="M358.921 254.971L417.842 220.773V152.81H417.626L358.921 118.828H358.705L300 152.81V220.773H300.216L358.921 254.971ZM417.194 220.557L358.921 254.322L300.648 220.557V153.026L358.921 119.261L417.194 153.026V220.557Z" fill="url(#paint72_linear_33_304)"/>
    <path d="M651.583 220.557L651.799 220.34L660 225.102V225.751L651.799 220.99L593.525 254.755V322.286L651.799 356.051L660 351.289V351.939L652.014 356.484L651.799 356.7L593.094 322.719L592.878 322.502V254.539L651.583 220.557Z" fill="url(#paint73_linear_33_304)"/>
    <path d="M534.604 356.7L593.525 322.502V254.322H593.309L534.604 220.34H534.388L475.683 254.322V322.502H475.899L534.604 356.7ZM592.878 322.286L534.604 356.051L476.331 322.286V254.755L534.604 220.99L592.878 254.755V322.286Z" fill="url(#paint74_linear_33_304)"/>
    <path d="M417.626 356.7L476.331 322.502V254.322H476.115L417.41 220.34H417.194L358.489 254.322V322.502H358.705L417.626 356.7ZM475.899 322.286L417.626 356.051L359.353 322.286V254.755L417.626 220.99L475.899 254.755V322.286Z" fill="url(#paint75_linear_33_304)"/>
    <path d="M660 351.289V351.939L652.014 356.484V424.015L660 428.56V429.209L651.583 424.448V424.231V356.268L660 351.289Z" fill="url(#paint76_linear_33_304)"/>
    <path d="M593.309 458.429L652.014 424.231V356.051H651.799L593.094 322.069H592.878L534.173 356.051V424.231H534.389L593.309 458.429ZM651.583 424.015L593.309 457.78L535.036 424.015V356.484L593.309 322.719L651.583 356.484V424.015Z" fill="url(#paint77_linear_33_304)"/>
    <path d="M476.115 458.429L534.82 424.231V356.051H534.604L475.899 322.069H475.683L416.978 356.051V424.231H417.194L476.115 458.429ZM534.388 424.015L476.115 457.78L417.842 424.015V356.484L476.115 322.719L534.388 356.484V424.015Z" fill="url(#paint78_linear_33_304)"/>
    <path d="M358.921 458.429L417.842 424.231V356.051H417.626L358.921 322.069H358.705L300 356.051V424.231H300.216L358.921 458.429ZM417.194 424.015L358.921 457.78L300.648 424.015V356.484L358.921 322.719L417.194 356.484V424.015Z" fill="url(#paint79_linear_33_304)"/>
    <path d="M651.583 424.015L651.799 423.798L660 428.56V429.209L651.799 424.447L593.525 458.213V477.909H592.878V457.996L651.583 424.015Z" fill="url(#paint80_linear_33_304)"/>
    <path d="M592.878 477.909V458.213L534.604 424.447L476.331 458.213V477.909H475.899V457.996L534.604 424.015V423.798L593.309 457.78L593.525 457.996V477.909H592.878Z" fill="url(#paint81_linear_33_304)"/>
    <path d="M475.899 477.909V458.213L417.626 424.447L359.137 458.213V477.909H358.705V457.996L417.41 424.015L417.626 423.798L476.115 457.78L476.331 457.996V477.909H475.899Z" fill="url(#paint82_linear_33_304)"/>
    <path d="M358.705 477.909V458.213L300.432 424.447L242.158 458.213V477.909H241.511V457.996L300.216 424.015L300.432 423.798L359.137 457.78V457.996V477.909H358.705Z" fill="url(#paint83_linear_33_304)"/>
    <path d="M577.554 2.38083V89.1751L652.446 132.68L660 128.351V131.382L652.446 135.711L574.964 90.6902V0.865723" fill="url(#paint84_linear_33_304)"/>
    <path d="M660 128.352V131.382L653.957 134.845V221.639L660 225.319V228.349L651.151 223.154V133.33L660 128.352Z" fill="url(#paint85_linear_33_304)"/>
    <path d="M576.259 268.175L653.957 223.154V133.33L576.259 88.3093L498.561 133.33V223.154L576.259 268.175ZM651.151 221.639L576.259 265.144L501.367 221.639V134.845L576.259 91.556L651.151 134.845V221.639Z" fill="url(#paint86_linear_33_304)"/>
    <path d="M652.446 220.99L660 225.319V228.349L652.446 224.02L577.554 267.525V354.32L652.446 397.825L660 393.496V396.526L652.446 400.855L574.964 355.835V266.01L652.446 220.99Z" fill="url(#paint87_linear_33_304)"/>
    <path d="M499.856 400.855L577.554 355.835V266.01L499.856 220.99L422.158 266.01V355.835L499.856 400.855ZM574.964 354.32L500.072 397.825L425.18 354.32V267.525L500.072 224.02L574.964 267.525V354.32Z" fill="url(#paint88_linear_33_304)"/>
    <path d="M660 393.496V396.526L653.957 399.989V477.909H651.151V398.474L660 393.496Z" fill="url(#paint89_linear_33_304)"/>
    <path d="M651.151 477.909V399.989L576.259 356.7L501.151 399.989V477.909H498.561V398.474L576.259 353.454L653.957 398.474V477.909H651.151Z" fill="url(#paint90_linear_33_304)"/>
    <path d="M498.561 477.909V399.989L423.669 356.7L348.561 399.989V477.909H345.971V398.474L423.669 353.454L501.151 398.474V477.909H498.561Z" fill="url(#paint91_linear_33_304)"/>
    <path d="M345.971 477.909V399.989L270.863 356.7L195.971 399.989V477.909H193.165V398.474L270.863 353.454L348.561 398.474V477.909H345.971Z" fill="url(#paint92_linear_33_304)"/>
    <path d="M193.165 477.909V399.989L118.273 356.7L43.3812 399.989V477.909H40.5755V398.474L118.273 353.454L195.971 398.474V477.909H193.165Z" fill="url(#paint93_linear_33_304)"/>
    <path d="M43.3812 398.474V477.909H40.5755V399.989" fill="url(#paint94_linear_33_304)"/>
    <path d="M596.979 51.0809C596.979 53.2454 595.252 54.9769 593.094 54.9769C590.935 54.9769 589.209 53.2454 589.209 51.0809C589.209 48.9165 590.935 47.1849 593.094 47.1849C595.252 47.1849 596.979 49.1329 596.979 51.0809Z" fill="url(#paint95_linear_33_304)"/>
    <path d="M651.799 24.6747C647.698 24.6747 644.245 21.428 644.245 17.0991C644.245 12.7702 647.698 9.73999 651.799 9.73999C655.899 9.73999 659.353 13.2031 659.353 17.3155C659.353 21.428 655.899 24.6747 651.799 24.6747Z" fill="url(#paint96_linear_33_304)"/>
    <path d="M593.309 125.321C589.856 125.321 587.05 122.508 587.05 119.044C587.05 115.581 589.64 112.551 593.309 112.551C596.978 112.551 599.568 115.581 599.568 119.044C599.568 122.508 596.763 125.321 593.309 125.321Z" fill="url(#paint97_linear_33_304)"/>
    <path d="M473.094 119.044C473.094 117.313 474.389 116.014 476.115 116.014C477.842 116.014 479.137 117.313 479.137 119.044C479.137 120.776 477.842 122.075 476.115 122.075C474.389 122.075 473.094 120.559 473.094 119.044Z" fill="url(#paint98_linear_33_304)"/>
    <path d="M417.626 158.654C414.407 158.654 411.798 156.037 411.798 152.81C411.798 149.582 414.407 146.966 417.626 146.966C420.844 146.966 423.453 149.582 423.453 152.81C423.453 156.037 420.844 158.654 417.626 158.654Z" fill="url(#paint99_linear_33_304)"/>
    <path d="M353.309 119.044C353.309 116.014 355.899 113.417 358.921 113.417C361.943 113.417 364.532 116.014 364.532 119.044C364.532 122.075 361.943 124.672 358.921 124.672C355.899 124.672 353.309 122.075 353.309 119.044Z" fill="url(#paint100_linear_33_304)"/>
    <path d="M300.432 159.52C296.737 159.52 293.741 156.515 293.741 152.81C293.741 149.104 296.737 146.1 300.432 146.1C304.127 146.1 307.122 149.104 307.122 152.81C307.122 156.515 304.127 159.52 300.432 159.52Z" fill="url(#paint101_linear_33_304)"/>
    <path d="M656.763 220.773C656.763 223.587 654.604 225.752 651.799 225.752C648.993 225.752 646.835 223.587 646.835 220.773C646.835 217.96 648.993 215.795 651.799 215.795C654.389 215.795 656.763 217.96 656.763 220.773Z" fill="url(#paint102_linear_33_304)"/>
    <path d="M648.345 152.81C648.345 150.862 649.856 149.347 651.798 149.347C653.741 149.347 655.252 150.862 655.252 152.81C655.252 154.758 653.741 156.273 651.798 156.273C649.856 156.273 648.345 154.758 648.345 152.81Z" fill="url(#paint103_linear_33_304)"/>
    <path d="M534.604 155.624C533.055 155.624 531.799 154.364 531.799 152.81C531.799 151.256 533.055 149.996 534.604 149.996C536.154 149.996 537.41 151.256 537.41 152.81C537.41 154.364 536.154 155.624 534.604 155.624Z" fill="url(#paint104_linear_33_304)"/>
    <path d="M480.647 254.539C480.647 257.136 478.489 259.084 476.115 259.084C473.525 259.084 471.583 256.92 471.583 254.539C471.583 252.158 473.741 249.993 476.115 249.993C478.705 249.993 480.647 252.158 480.647 254.539Z" fill="url(#paint105_linear_33_304)"/>
    <path d="M534.604 214.064C538.273 214.064 541.295 217.094 541.295 220.773C541.295 224.453 538.273 227.483 534.604 227.483C530.935 227.483 527.914 224.453 527.914 220.773C527.914 217.094 530.935 214.064 534.604 214.064Z" fill="url(#paint106_linear_33_304)"/>
    <path d="M300.432 227.916C296.498 227.916 293.309 224.718 293.309 220.773C293.309 216.829 296.498 213.631 300.432 213.631C304.365 213.631 307.554 216.829 307.554 220.773C307.554 224.718 304.365 227.916 300.432 227.916Z" fill="url(#paint107_linear_33_304)"/>
    <path d="M593.309 259.084C590.806 259.084 588.777 257.049 588.777 254.539C588.777 252.028 590.806 249.993 593.309 249.993C595.813 249.993 597.842 252.028 597.842 254.539C597.842 257.049 595.813 259.084 593.309 259.084Z" fill="url(#paint108_linear_33_304)"/>
    <path d="M593.309 329.645C589.209 329.645 585.971 326.398 585.971 322.286C585.971 318.173 589.209 314.927 593.309 314.927C597.41 314.927 600.647 318.173 600.647 322.286C600.432 326.398 597.194 329.645 593.309 329.645Z" fill="url(#paint109_linear_33_304)"/>
    <path d="M417.626 228.349C413.454 228.349 410.072 224.957 410.072 220.773C410.072 216.589 413.454 213.198 417.626 213.198C421.798 213.198 425.18 216.589 425.18 220.773C425.18 224.957 421.798 228.349 417.626 228.349Z" fill="url(#paint110_linear_33_304)"/>
    <path d="M361.727 254.539C361.727 256.054 360.432 257.352 358.921 257.352C357.41 257.352 356.115 256.054 356.115 254.539C356.115 253.024 357.41 251.725 358.921 251.725C360.432 251.725 361.727 253.024 361.727 254.539Z" fill="url(#paint111_linear_33_304)"/>
    <path d="M300.432 361.895C297.333 361.895 294.82 359.375 294.82 356.267C294.82 353.159 297.333 350.64 300.432 350.64C303.531 350.64 306.043 353.159 306.043 356.267C306.043 359.375 303.531 361.895 300.432 361.895Z" fill="url(#paint112_linear_33_304)"/>
    <path d="M358.921 313.844C363.669 313.844 367.554 317.74 367.554 322.502C367.554 327.264 363.669 331.16 358.921 331.16C354.173 331.16 350.288 327.264 350.288 322.502C350.504 317.74 354.173 313.844 358.921 313.844Z" fill="url(#paint113_linear_33_304)"/>
    <path d="M651.799 346.96C655.468 346.96 658.489 348.908 660 351.939V360.596C658.489 363.627 655.468 365.575 651.799 365.575C646.619 365.575 642.518 361.462 642.518 356.268C642.518 351.289 646.619 346.96 651.799 346.96Z" fill="url(#paint114_linear_33_304)"/>
    <path d="M593.309 462.109C591.151 462.109 589.209 460.377 589.209 457.996C589.209 455.832 590.935 453.884 593.309 453.884C595.684 453.884 597.41 455.616 597.41 457.996C597.194 460.377 595.468 462.109 593.309 462.109Z" fill="url(#paint115_linear_33_304)"/>
    <path d="M534.604 432.24C530.288 432.24 526.619 428.776 526.619 424.231C526.619 419.686 530.072 416.223 534.604 416.223C539.137 416.223 542.59 419.686 542.59 424.231C542.59 428.776 539.137 432.24 534.604 432.24Z" fill="url(#paint116_linear_33_304)"/>
    <path d="M534.604 350.64C537.626 350.64 540.216 353.237 540.216 356.267C540.216 359.298 537.626 361.895 534.604 361.895C531.583 361.895 528.993 359.298 528.993 356.267C528.993 353.237 531.583 350.64 534.604 350.64Z" fill="url(#paint117_linear_33_304)"/>
    <path d="M476.115 328.779C472.662 328.779 469.64 325.965 469.64 322.286C469.64 318.823 472.446 315.792 476.115 315.792C479.568 315.792 482.59 318.606 482.59 322.286C482.59 325.965 479.568 328.779 476.115 328.779Z" fill="url(#paint118_linear_33_304)"/>
    <path d="M410.288 356.268C410.288 352.155 413.525 348.908 417.626 348.908C421.727 348.908 424.964 352.155 424.964 356.268C424.964 360.38 421.727 363.627 417.626 363.627C413.525 363.627 410.288 360.38 410.288 356.268Z" fill="url(#paint119_linear_33_304)"/>
    <path d="M358.921 463.84C355.683 463.84 353.093 461.243 353.093 457.996C353.093 454.75 355.683 452.152 358.921 452.152C362.158 452.152 364.748 454.75 364.748 457.996C364.748 461.243 362.158 463.84 358.921 463.84Z" fill="url(#paint120_linear_33_304)"/>
    <path d="M300.432 430.292C297.094 430.292 294.389 427.578 294.389 424.231C294.389 420.884 297.094 418.171 300.432 418.171C303.769 418.171 306.475 420.884 306.475 424.231C306.475 427.578 303.769 430.292 300.432 430.292Z" fill="url(#paint121_linear_33_304)"/>
    <path d="M651.798 421.201C653.525 421.201 654.82 422.5 654.82 424.231C654.82 425.963 653.525 427.261 651.798 427.261C650.072 427.261 648.777 425.963 648.777 424.231C648.777 422.5 650.072 421.201 651.798 421.201Z" fill="url(#paint122_linear_33_304)"/>
    <path d="M476.115 450.421C480.216 450.421 483.669 453.884 483.669 457.996C483.669 462.109 480.216 465.572 476.115 465.572C472.014 465.572 468.561 462.109 468.561 457.996C468.561 453.884 471.798 450.421 476.115 450.421Z" fill="url(#paint123_linear_33_304)"/>
    <path d="M417.626 427.694C415.719 427.694 414.173 426.144 414.173 424.231C414.173 422.319 415.719 420.768 417.626 420.768C419.533 420.768 421.079 422.319 421.079 424.231C421.079 426.144 419.533 427.694 417.626 427.694Z" fill="url(#paint124_linear_33_304)"/>
    <path d="M241.942 462.542C239.439 462.542 237.41 460.507 237.41 457.997C237.41 455.486 239.439 453.451 241.942 453.451C244.446 453.451 246.475 455.486 246.475 457.997C246.475 460.507 244.446 462.542 241.942 462.542Z" fill="url(#paint125_linear_33_304)"/>
    </g>
    </g>
    <defs>
    <linearGradient id="paint0_linear_33_304" x1="266" y1="454.046" x2="526.119" y2="53.5674" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint1_linear_33_304" x1="91.0341" y1="872.802" x2="583.033" y2="115.323" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint2_linear_33_304" x1="162.754" y1="919.386" x2="654.754" y2="161.907" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint3_linear_33_304" x1="95.1506" y1="875.476" x2="587.149" y2="117.997" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint4_linear_33_304" x1="27.5465" y1="831.566" x2="519.546" y2="74.086" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint5_linear_33_304" x1="-40.0583" y1="787.655" x2="451.941" y2="30.1758" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint6_linear_33_304" x1="166.873" y1="922.06" x2="658.871" y2="164.582" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint7_linear_33_304" x1="99.2685" y1="878.15" x2="591.267" y2="120.671" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint8_linear_33_304" x1="31.6637" y1="834.239" x2="523.662" y2="76.761" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint9_linear_33_304" x1="233.065" y1="965.054" x2="725.064" y2="207.575" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint10_linear_33_304" x1="165.461" y1="921.144" x2="657.461" y2="163.662" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint11_linear_33_304" x1="97.8568" y1="877.233" x2="589.853" y2="119.757" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint12_linear_33_304" x1="30.2524" y1="833.322" x2="522.249" y2="75.8465" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint13_linear_33_304" x1="129.924" y1="898.062" x2="621.922" y2="140.583" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint14_linear_33_304" x1="71.4337" y1="860.073" x2="563.433" y2="102.593" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint15_linear_33_304" x1="-16.6734" y1="802.845" x2="475.326" y2="45.3652" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint16_linear_33_304" x1="157.565" y1="916.014" x2="649.563" y2="158.535" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint17_linear_33_304" x1="76.8003" y1="863.556" x2="568.799" y2="106.078" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint18_linear_33_304" x1="-11.307" y1="806.329" x2="480.691" y2="48.8502" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint19_linear_33_304" x1="228.763" y1="962.258" x2="720.761" y2="204.78" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint20_linear_33_304" x1="170.272" y1="924.27" x2="662.271" y2="166.791" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint21_linear_33_304" x1="82.1652" y1="867.042" x2="574.164" y2="109.562" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint22_linear_33_304" x1="304.339" y1="1011.34" x2="796.333" y2="253.869" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint23_linear_33_304" x1="247.043" y1="974.132" x2="739.041" y2="216.653" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint24_linear_33_304" x1="175.638" y1="927.755" x2="667.637" y2="170.276" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint25_linear_33_304" x1="87.5307" y1="870.527" x2="579.529" y2="113.048" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint26_linear_33_304" x1="304.337" y1="1011.34" x2="796.333" y2="253.868" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint27_linear_33_304" x1="250.922" y1="976.652" x2="742.92" y2="219.174" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint28_linear_33_304" x1="162.814" y1="919.426" x2="654.813" y2="161.946" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint29_linear_33_304" x1="74.7073" y1="862.198" x2="566.706" y2="104.718" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint30_linear_33_304" x1="-13.4001" y1="804.97" x2="478.599" y2="47.491" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint31_linear_33_304" x1="-101.507" y1="747.742" x2="390.491" y2="-9.73557" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint32_linear_33_304" x1="36.3565" y1="837.291" x2="528.357" y2="79.8097" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint33_linear_33_304" x1="57.5247" y1="851.027" x2="549.519" y2="93.5545" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint34_linear_33_304" x1="-10.0886" y1="807.13" x2="481.914" y2="49.6453" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint35_linear_33_304" x1="112.192" y1="886.554" x2="604.195" y2="129.067" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint36_linear_33_304" x1="133.351" y1="900.308" x2="625.361" y2="142.815" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint37_linear_33_304" x1="108.078" y1="883.875" x2="600.078" y2="126.395" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint38_linear_33_304" x1="61.6386" y1="853.706" x2="553.636" y2="96.2293" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint39_linear_33_304" x1="44.5936" y1="842.634" x2="536.59" y2="85.1583" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint40_linear_33_304" x1="65.756" y1="856.379" x2="557.752" y2="98.904" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint41_linear_33_304" x1="69.8651" y1="859.065" x2="561.87" y2="101.575" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint42_linear_33_304" x1="2.26654" y1="815.144" x2="494.263" y2="57.6663" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint43_linear_33_304" x1="-18.8908" y1="801.393" x2="473.1" y2="43.9258" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint44_linear_33_304" x1="-65.34" y1="771.238" x2="426.661" y2="13.7543" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint45_linear_33_304" x1="-86.4998" y1="757.489" x2="405.498" y2="0.0107043" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint46_linear_33_304" x1="188.028" y1="935.814" x2="680.033" y2="178.323" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint47_linear_33_304" x1="209.191" y1="949.559" x2="701.196" y2="192.069" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint48_linear_33_304" x1="183.913" y1="933.14" x2="675.918" y2="175.651" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint49_linear_33_304" x1="137.476" y1="902.966" x2="629.474" y2="145.487" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint50_linear_33_304" x1="141.595" y1="905.639" x2="633.592" y2="148.164" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint51_linear_33_304" x1="116.315" y1="889.221" x2="608.314" y2="131.744" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint52_linear_33_304" x1="48.7097" y1="845.309" x2="540.707" y2="87.8327" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint53_linear_33_304" x1="52.8268" y1="847.983" x2="544.824" y2="90.5067" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint54_linear_33_304" x1="73.9882" y1="861.731" x2="565.987" y2="104.251" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint55_linear_33_304" x1="-61.2224" y1="773.912" x2="430.779" y2="16.4285" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint56_linear_33_304" x1="120.433" y1="891.891" x2="612.428" y2="134.418" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint57_linear_33_304" x1="145.711" y1="908.313" x2="637.706" y2="150.837" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint58_linear_33_304" x1="6.38437" y1="817.819" x2="498.383" y2="60.3411" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint59_linear_33_304" x1="-14.7748" y1="804.072" x2="477.222" y2="46.6006" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint60_linear_33_304" x1="-10.6603" y1="806.748" x2="481.338" y2="49.2718" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint61_linear_33_304" x1="10.4999" y1="820.494" x2="502.499" y2="63.0134" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint62_linear_33_304" x1="259.759" y1="982.377" x2="751.743" y2="224.91" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint63_linear_33_304" x1="213.315" y1="952.226" x2="705.313" y2="194.747" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint64_linear_33_304" x1="192.153" y1="938.479" x2="684.151" y2="181.001" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint65_linear_33_304" x1="124.546" y1="894.573" x2="616.549" y2="137.088" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint66_linear_33_304" x1="78.1051" y1="864.406" x2="570.107" y2="106.925" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint67_linear_33_304" x1="56.9418" y1="850.66" x2="548.942" y2="93.1791" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint68_linear_33_304" x1="136.597" y1="858.282" x2="737.101" y2="-66.251" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint69_linear_33_304" x1="197.957" y1="898.139" x2="798.459" y2="-26.3917" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint70_linear_33_304" x1="152.78" y1="868.794" x2="753.285" y2="-55.7402" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint71_linear_33_304" x1="70.2662" y1="815.2" x2="670.772" y2="-109.335" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint72_linear_33_304" x1="-12.248" y1="761.605" x2="588.257" y2="-162.929" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint73_linear_33_304" x1="229.161" y1="918.404" x2="829.665" y2="-6.12884" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint74_linear_33_304" x1="157.805" y1="872.059" x2="758.311" y2="-52.4767" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint75_linear_33_304" x1="75.291" y1="818.464" x2="675.797" y2="-106.071" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint76_linear_33_304" x1="290.521" y1="958.26" x2="891.027" y2="33.7241" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint77_linear_33_304" x1="245.345" y1="928.915" x2="845.849" y2="4.38215" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint78_linear_33_304" x1="162.83" y1="875.322" x2="763.335" y2="-49.2118" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint79_linear_33_304" x1="80.3169" y1="821.726" x2="680.821" y2="-102.807" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint80_linear_33_304" x1="293.035" y1="959.892" x2="893.538" y2="35.3605" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint81_linear_33_304" x1="239.398" y1="925.053" x2="839.903" y2="0.51793" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint82_linear_33_304" x1="156.884" y1="871.458" x2="757.39" y2="-53.0772" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint83_linear_33_304" x1="74.3694" y1="817.864" x2="674.873" y2="-106.668" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint84_linear_33_304" x1="361.53" y1="462.311" x2="652.691" y2="14.0411" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint85_linear_33_304" x1="194.017" y1="895.578" x2="794.521" y2="-28.9544" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint86_linear_33_304" x1="136.931" y1="858.5" x2="737.436" y2="-66.0344" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint87_linear_33_304" x1="235.539" y1="922.547" x2="836.043" y2="-1.9856" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint88_linear_33_304" x1="143.48" y1="862.752" x2="743.984" y2="-61.7809" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint89_linear_33_304" x1="308.926" y1="970.213" x2="909.43" y2="45.6799" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint90_linear_33_304" x1="255.156" y1="935.289" x2="855.661" y2="10.7546" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint91_linear_33_304" x1="147.618" y1="865.44" x2="748.122" y2="-59.0935" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint92_linear_33_304" x1="40.079" y1="795.592" x2="640.584" y2="-128.943" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint93_linear_33_304" x1="-67.4599" y1="725.744" x2="533.045" y2="-198.791" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint94_linear_33_304" x1="-20.9477" y1="536.31" x2="249.135" y2="120.497" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint95_linear_33_304" x1="91.0648" y1="828.723" x2="691.577" y2="-95.8227" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint96_linear_33_304" x1="116.902" y1="845.488" x2="717.405" y2="-79.0437" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint97_linear_33_304" x1="121.925" y1="848.755" x2="722.431" y2="-75.7803" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint98_linear_33_304" x1="39.4078" y1="795.166" x2="639.919" y2="-129.376" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint99_linear_33_304" x1="13.5831" y1="778.38" x2="614.085" y2="-146.15" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint100_linear_33_304" x1="-43.1025" y1="741.562" x2="557.399" y2="-182.97" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint101_linear_33_304" x1="-68.9344" y1="724.791" x2="531.574" y2="-199.749" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint102_linear_33_304" x1="209.469" y1="905.606" x2="809.969" y2="-18.919" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint103_linear_33_304" x1="178.612" y1="885.567" x2="779.113" y2="-38.9624" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint104_linear_33_304" x1="96.1035" y1="831.964" x2="696.596" y2="-92.5535" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint105_linear_33_304" x1="101.12" y1="835.24" x2="701.624" y2="-89.2946" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint106_linear_33_304" x1="126.95" y1="852.018" x2="727.455" y2="-72.5177" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint107_linear_33_304" x1="-38.0773" y1="744.829" x2="562.428" y2="-179.705" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint108_linear_33_304" x1="183.641" y1="888.825" x2="784.136" y2="-35.6956" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint109_linear_33_304" x1="214.489" y1="908.877" x2="814.995" y2="-15.6584" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint110_linear_33_304" x1="44.4361" y1="798.423" x2="644.941" y2="-126.112" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint111_linear_33_304" x1="18.6069" y1="781.644" x2="619.109" y2="-142.889" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint112_linear_33_304" x1="23.6309" y1="784.911" x2="624.138" y2="-139.626" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint113_linear_33_304" x1="49.4616" y1="801.686" x2="649.966" y2="-122.848" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint114_linear_33_304" x1="271.157" y1="945.681" x2="871.66" y2="21.1478" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint115_linear_33_304" x1="276.197" y1="948.962" x2="876.706" y2="24.42" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint116_linear_33_304" x1="219.516" y1="912.138" x2="820.016" y2="-12.3915" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint117_linear_33_304" x1="188.657" y1="892.103" x2="789.167" y2="-32.44" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint118_linear_33_304" x1="131.978" y1="855.278" x2="732.479" y2="-69.2506" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint119_linear_33_304" x1="106.146" y1="838.504" x2="706.651" y2="-86.029" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint120_linear_33_304" x1="111.169" y1="841.771" x2="711.679" y2="-82.7681" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint121_linear_33_304" x1="54.4852" y1="804.953" x2="654.995" y2="-119.586" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint122_linear_33_304" x1="302.023" y1="965.741" x2="902.534" y2="41.1932" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint123_linear_33_304" x1="193.686" y1="895.361" x2="794.189" y2="-29.1711" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint124_linear_33_304" x1="137.001" y1="858.545" x2="737.506" y2="-65.9882" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <linearGradient id="paint125_linear_33_304" x1="28.6573" y1="788.172" x2="629.16" y2="-136.359" gradientUnits="userSpaceOnUse">
    <stop stop-color="#52BBE8"/>
    <stop offset="0.196" stop-color="#69C3EB"/>
    <stop offset="0.6037" stop-color="#A3D8F1"/>
    <stop offset="1" stop-color="#E1EFF8"/>
    </linearGradient>
    <clipPath id="clip0_33_304">
    <rect width="660" height="487" fill="white" transform="matrix(-1 0 0 1 660 0)"/>
    </clipPath>
    </defs>
  </svg>
</div>

<%= render 'layouts/footer' %>
