<div class="relative">
  <div class="bg-qs-survey">
    <h2 class="container py-16 mx-auto text-2xl text-white">
      QS 聲譽問卷 受訪者推薦表單
    </h2>
  </div>
  <%= render 'info' %>
  <div class="container mx-auto">
    <%= render 'form', recommender: @recommender, department: @department %>
  </div>
  <div class="absolute bottom-0 right-0 -z-10">
    <%= image_tag "new-effect.svg" %>
  </div>
</div>

<%= render 'layouts/footer' %>
