<div class="container mx-auto mt-4">
  <%= react_component("TableExporter", {columns: %i[exported_on committed_on provider_unit provider_name provider_email title first_name last_name email department job_title institution_name location], data: @academic_recommenders, category: "academic"}) %>

  <%= react_component("TableExporter", {columns: %i[exported_on committed_on provider_unit provider_name provider_email title first_name last_name email job_title industry_name company_name location], data: @industry_recommenders, category: "industry"}) %>
</div>
