<footer class="py-10 text-xl text-white bg-gradient-to-tl from-[#2566A5] to-[#123D66]">
  <div class="container flex mx-auto">
    <p class="mr-20"> 國立臺灣科技大學 研發處校務研究與發展中心 </p>
    <p> Tel：2733-3141 分機 3675 </p>
  </div>
</footer>
